@import "./Colors.scss";
@import "./Fonts.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

a, a:hover, a:active {
  text-decoration: none;
  color: var(--color-link);
}
