:root {
  --color-background: #111C33;
  --color-white: #ffffff;
  --color-dark: #111;

  --color-primary: #87AFFF;
  --color-primary-dark: #4F72B8;
  --color-primary-dark-20: #42619D;
  --color-primary-dark-40: #364F82;
  --color-primary-dark-60: #2A3F69;
  --color-primary-dark-80: #1E2D4E;

  --color-secondary: #B8974F;
  --color-secondary-20: #967D49;
  --color-secondary-40: #746543;
  --color-secondary-60: #544C3D;
  --color-secondary-80: #323438;

  --color-secondary-dark: #6B5219;
  --color-secondary-dark-20: #57451E;
  --color-secondary-dark-40: #463C23;
  --color-secondary-dark-60: #343028;
  --color-secondary-dark-80: #22262D;

  --color-text: var(--color-white);
  --color-link: var(--color-secondary);

  --color-big-digit: #D6E4FF;
  --color-fixed-digit: #ffffff;

  --color-primary-highlight: var(--color-primary-dark);
  --color-secondary-highlight: var(--color-primary-dark-40);
  --color-primary-highlight-area: #233e42;
  --color-secondary-highlight-area: #232f42;
  --color-unset-highlight: #2e6256;

  --color-warning: #ff0000;
  --color-warning-dark: #990000;
  --color-warning-dark-2: #440000;

  --color-grid-thick: var(--color-primary-dark);
  --color-grid-thin: var(--color-primary-dark-40);
}

.color--background {
  color: var(--color-background);
}

.color--primary {
  color: var(--color-primary);
}

.color--primary--dark {
  color: var(--color-primary-dark);
}

.color--secondary {
  color: var(--color-secondary);
}

.color--secondary--dark {
  color: var(--color-secondary-dark);
}

.color--text {
  color: var(--color-text);
}

.color--link {
  color: var(--color-link);
}
