.puzzle-cell-controls {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    user-select: none;

  .number-control-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: calc(100vh/1.6);

    .number-cell {
      border-radius: 3px;
      box-shadow: 2px 2px 4px var(--color-primary-dark-80);
      width: calc(((100vh/1.5) / 12) + 2px);
      height: calc(((100vh/1.5) / 12) + 2px);
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: space-evenly;
      background: var(--color-primary-dark-60);
      cursor: pointer;
      
      &.completed {
        background: var(--color-primary-dark-80);
        box-shadow: none;
        
        .number-cell-value {
          opacity: 0.2;
        }
      }

      &.selected {
        background: var(--color-primary-dark);
      }

      .number-cell-value {
        font-size: 22px;
        font-weight: 300;
      }

      .number-cell-left {
        font-size: 10px;
        font-weight: 500;
      }
    }

    .available-boxes {
      display: flex;
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: calc((100vh/1.5) / 12);
      height: calc((100vh/1.5) / 12);
      border-radius: 3px;

      border: solid 1px var(--color-primary-dark-40);
      background: var(--color-dark);
      cursor: pointer;

      & > .available-boxes-cell {
        width: calc(100%/3 - 4px);
        height: calc(100%/3 - 8px);
        font-weight: 400;

        font-size: 11px;
        line-height: 0;

        display: flex;
        margin: 0px 1px;

        &:nth-child(1) {
          align-items: flex-start;
          justify-content: flex-start;
          margin-top: 6px;
        }

        &:nth-child(2) {
          align-items: flex-start;
          justify-content: center;
          margin-top: 6px;
        }

        &:nth-child(3) {
          align-items: flex-start;
          justify-content: flex-end;
          margin-top: 6px;
        }

        &:nth-child(4) {
          align-items: center;
          justify-content: flex-start;
        }

        &:nth-child(5) {
          align-items: center;
          justify-content: center;
        }

        &:nth-child(6) {
          align-items: center;
          justify-content: flex-end;
        }

        &:nth-child(7) {
          align-items: flex-end;
          justify-content: flex-start;
          margin-bottom: 5px;
        }

        &:nth-child(8) {
          align-items: flex-end;
          justify-content: center;
          margin-bottom: 5px;
        }

        &:nth-child(9) {
          align-items: flex-end;
          justify-content: flex-end;
          margin-bottom: 5px;
        }
      }
    }

    .number-cell {
    }
  }

  .radio-group {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    justify-content: flex-end;

    .number-control-mode {
    }
    .click-control-mode {
    }
  }
}
