@import "./Colors.scss";

:root {
  --puzzle-margin: 14px;
}

.puzzle-context {
  position: relative;
}

.puzzle-shell {
  position: relative;
  display: flex;
  flex-direction: column;
}

.puzzle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh/1.5);
  width: calc(100vh/1.5);

  border-top: solid 3px var(--color-primary-dark);
  border-left: solid 3px var(--color-primary-dark);

  user-select: none;

  & > .puzzle-box {
    width: calc(100%/3);
    height: calc(100%/3);
  }
}

.puzzle-annotation {
  font-size: 10px;

  .null {
    opacity: 0.2;
  }
}

.puzzlerow-horiz {
  display: flex;
  flex-direction: row;

  .puzzle-annotation {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
  }

  & > .corner {
    width: var(--puzzle-margin);
    font-size: 10px;
    opacity: 0.02;
    text-align: center;
  }
}

.puzzlerow-middle {
  display: flex;
  flex-direction: row;

  .puzzlerow-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: var(--puzzle-margin);
  }
}

.solved {
  position: absolute;
  user-select: none;
  top: 27vh;
  text-align: center;
  width: 100%;
  font-size: 170px;
  text-transform: uppercase;
  transform: rotate(-45deg) scale(1.0);
  color: green;
  text-shadow: 3px 3px 20px black;
  opacity: 0.9;
  transition: opacity 0.2s cubic-bezier(0.7, 0, 0.7, 1.5),
    transform 0.2s cubic-bezier(0.7, 0, 0.7, 1.5);

  &.hidden {
    width: 0px;
    height: 0px;
    opacity: 0;
    transform: rotate(0deg) scale(0.3);
    overflow: hidden;
  }
}
