@import "./Colors.scss";

.puzzle-cell {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.15s ease-out;

  padding: 4px 2px;

  &.unset {
    & > .pencil-number {
      &.selected {
        opacity: 30%;
        &.highlighted, &.error {
          opacity: 1;
        }
      }
    }
  }

  & > .pencil-number {
	font-size: 11px;
    opacity: 0%;

    &.clickable {
      cursor: pointer;

      &:hover {
        opacity: 40%;
      }
    }

    &.selected {
      opacity: 100%;

      &.highlighted {
        font-weight: 900;
        font-size: 14px;
        position: relative;

        &.error {
          font-weight: 600;
          text-shadow: 
            -1px -1px 1px var(--color-warning-dark), 
            1px -1px 1px var(--color-warning-dark), 
            -1px 1px 1px var(--color-warning-dark), 
            1px 1px 1px var(--color-warning-dark), 
            0 0 2px var(--color-warning), 
            0 0 6px var(--color-warning), 
            0 0 10px var(--color-warning-dark), 
            0 0 15px var(--color-warning-dark), 
            0 0 20px var(--color-warning-dark-2);
          mix-blend-mode: color-dodge;
          font-size: 14px;
          position: relative;
        }
      }

      &.error {
        font-weight: 600;
        text-shadow: 
          -1px -1px 1px var(--color-warning), 
          1px -1px 1px var(--color-warning), 
          -1px 1px 1px var(--color-warning), 
          1px 1px 1px var(--color-warning), 
          0 0 2px var(--color-white), 
          0 0 6px var(--color-warning), 
          0 0 10px var(--color-warning), 
          0 0 15px var(--color-warning), 
          0 0 20px var(--color-warning);
        mix-blend-mode: color-dodge;
        font-size: 14px;
        position: relative;
      }
    }

  }

  &.pencil-centered > .pencil-number {
    &.selected {
      &.highlighted.error, &.error {
        margin-left: 3px;
      }
    }
  }

  &.pencil-corners > .pencil-number {
    width: calc(100%/3 - 4px);
    height: calc(100%/3 - 8px);

    display: flex;
    margin: 4px 2px;
    line-height: 0;

	&:nth-child(1) {
	  align-items: flex-start;
	  justify-content: flex-start;

      &.highlighted, &.error {
        top: 3px;
      }
	}

	&:nth-child(2) {
	  align-items: flex-start;
	  justify-content: center;

      &.highlighted, &.error {
        top: 3px;
      }
	}

	&:nth-child(3) {
	  align-items: flex-start;
	  justify-content: flex-end;

      &.highlighted, &.error {
        top: 3px;
      }
	}

	&:nth-child(4) {
	  align-items: center;
	  justify-content: flex-start;

      &.highlighted, &.error {
        top: 1px;
      }
	}

	&:nth-child(5) {
	  align-items: center;
	  justify-content: center;

      &.highlighted, &.error {
        top: 1px;
      }
	}

	&:nth-child(6) {
	  align-items: center;
	  justify-content: flex-end;

      &.highlighted, &.error {
        top: 1px;
      }
	}

	&:nth-child(7) {
	  align-items: flex-end;
	  justify-content: flex-start;

      &.highlighted, &.error {
        top: -1px;
      }
	}

	&:nth-child(8) {
	  align-items: flex-end;
	  justify-content: center;

      &.highlighted, &.error {
        top: -1px;
      }
	}

	&:nth-child(9) {
	  align-items: flex-end;
	  justify-content: flex-end;

      &.highlighted, &.error {
        top: -1px;
      }
	}
  }
}
