@import "./Colors.scss";

.puzzle-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-right: solid 2px var(--color-grid-thick);
  border-bottom: solid 2px var(--color-grid-thick);

  & > .puzzle-cell {
    width: calc(100%/3);
    height: calc(100%/3);
  }
}
